<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <!--Two headers for guest users or logged-in users. If user is a guest, then logged-in header will be hidden,
    and vice versa-->
    {{#if loggedIn}}
        <header class="logged-in">
            <ul class="headnav">
                <li>Hello, {{username}}</li>
                <li><a href="/">Your Homepage</a></li>
                <li><a href="/create">Create Event</a></li>
                <li><a href="/created">Your Events</a></li>
                <li><a href="/registered">Your Registered Events</a></li>
                <li><a href="/favorited">Your Favorited Events</a></li>
                <li><a href="/logout">Log Out</a></li>
                <form method="POST" id="form" action="/events/search">
                    <input type="text" placeholder="search" id="search" name="search">
                    <button type="submit" id="btn">Search</button>
                </form>
            </ul>
        </header>
    {{else}}
        <header class="guest">
            <ul class="headnav">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </header>
    {{/if}}
    <main>
        {{{body}}}
    </main>
</body>
</html>