<h1>Create Event</h1>
<div class="error" id="error2" hidden>Im an error</div>

<form method="POST" action="/create" id="createevent-form" encType="multipart/form-data">
    <label for="eventName">Event name:</label>
    <input type="text" id="eventName" name="eventName">
    <label for="location">Location:</label>
    <input type="text" id="location" name="location">
    <label for="startTime">Start time:</label>
    <input type="datetime-local" id="startTime" name="startTime">
    <label for="endTime">End time:</label>
    <input type="datetime-local" id="endTime" name="endTime">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <label for="capacity">Capacity:</label>
    <input type="number" min="1" id="capacity" name="capacity">
    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags">
    <label for="image">Upload image here:</label>
    <input type="file" id="image" name="image">
    <button type="submit" class="submitbutton">submit</button>
</form>
<p class="error">{{error}}</p>