<h1>Create Event</h1>

<form method="POST" action="/create" id="createevent-form">
    <label for="eventNameInput">Event name:</label>
    <input type="text" id="eventNameInput" name="eventNameInput">
    <label for="locationInput">Location:</label>
    <input type="text" id="locationInput" name="locationInput">
    <label for="startTimeInput">Start time:</label>
    <input type="datetime-local" id="startTimeInput" name="startTimeInput">
    <label for="endTimeInput">End time:</label>
    <input type="datetime-local" id="endTimeInput" name="endTimeInput">
    <label for="descriptionInput">Description:</label>
    <input type="text" id="descriptionInput" name="descriptionInput">
    <label for="capacityInput">Capacity:</label>
    <input type="number" min="1" id="capacityInput" name="capacityInput">
    <label for="tagsInput">Tags:</label>
    <input type="text" id="tagsInput" name="tagsInput">
    <label for="imageInput">Upload image here:</label>
    <input type="file" id="imageInput" name="imageInput" accept="image/png, image/jpeg">
</form>
<p>{{error}}</p>