<h1>Edit Event</h1>

<form method="PATCH" action="/created/_id" id="createevent-form" encType="multipart/form-data">
    <label for="eventName">Event name:</label>
    <input type="text" id="eventName" name="eventName"><br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location"><br>
    <label for="startTime">Start time:</label>
    <input type="datetime-local" id="startTime" name="startTime"><br>
    <label for="endTime">End time:</label>
    <input type="datetime-local" id="endTime" name="endTime"><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"><br>
    <label for="capacity">Capacity:</label>
    <input type="number" min="1" id="capacity" name="capacity"><br>
    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags"><br>
    <label for="image">Upload image here:</label>
    <input type="file" id="image" name="image"><br>
    <button type="submit" class="submitbutton">submit</button>
</form>
<p class="error">{{error}}</p>