{{#if loggedIn}}
    <h1>Events At {{college}}</h1>
{{else}}
    <h1>Welcome!</h1>
    <p>For events tailored to your location, please create an account or log in with your existing account.</p>
{{/if}}
{{partialEvents}}