<h1>Register New Account</h1>
<form method="POST" action="/register" id="registration-form">
    <label for="usernameInput">Username:</label>
    <input type="text" id="usernameInputRegister" name="usernameInput">
    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInputRegister" name="passwordInput">
    <label for="firstnameInput">First name:</label>
    <input type="text" id="firstnameInput" name="firstnameInput">
    <label for="lastnameInput">Last name:</label>
    <input type="text" id="lastnameInput" name="lastnameInput">
    <label for="collegeInput">College:</label>
    <input type="text" id="collegeInput" name="collegeInput">
    <button type="submit" id="button">Submit</button>
</form>
<p>{{error}}</p>