<h1>Log In</h1>
<form method="POST" action="/login" id="login-form">
    <label for="usernameInput">Username:</label>
    <input type="text" id="usernameInputLogin" name="usernameInput">
    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInputLogin" name="passwordInput">
    <button type="submit" class="submitbutton">Submit</button>
</form>
<p>{{error}}</p>