body {
    background-color:beige;
}
.headnav {
    list-style-type: none;
    margin: 0;
    background-color: #555555;
    padding: 20px;
    font-size:14pt;
    
}

.headnav li {
    display: inline;
    color: #DCDCDC;
    padding: 10px;
    text-decoration: none;
}

.headnav a {
    color: #DCDCDC;
    text-decoration: none;
}
.headnav a:hover {
    text-decoration: underline;   
}

h1 {
    text-decoration: underline;
    font-size:22pt;
    text-align: center;
    color:#222222;
}
.event {
    border-top:solid #222222 2px;
    font-size:14pt;
    padding: bottom 20px;
}
h2 {
    margin-left: 50px;
    font-size:20pt;
    text-decoration:none;
    color:#222222;
}
.link {
    text-decoration: none;
}
.link:hover {
    text-decoration : #222222 underline;
}
.imgId {
    height:150px;
    max-width:500px;
    float:left;
    margin:10px;
}
.labelp {
    display:inline;
    font-weight:bold;
}
.tag {
    display:inline;
    color:cornflowerblue;
}
p {
    color:#222222;
    margin:5px;
    font-size:14pt;
}
.error {
    color:crimson;
}

form {
    font-size: 16pt;
    color: #222222;
}
button {
    font-size: 12pt;
    color:#222222;
}
#searchform {
    display:inline;
    margin: 30px;
}
#searchinput {
    border:2px #555555;
    padding:4px;
    font-size:14pt;
    font-family:'Times New Roman', Times, serif;
}
.comment {
    font-size:14pt;
    color:#222222;
}
#welcome {
    font-size:14pt;
    color:#222222;
}
#desc {
    font-size:16pt;
    color:#222222;
    text-indent:15px;
    margin: 10px;
    border-left: 2pt solid #222222 
}
.details-btn {
    margin:15px;
    display:inline;
}
.details-btn input {
    margin-top: 10px;
    margin-bottom:10px;
    font-size:16pt;
    background-color:#222222;
    color: #DCDCDC;
}

#comment {
    padding-right: 200px;
    padding-bottom:100px;
}
