body {
    background-color:beige;
}
.headnav {
    list-style-type: none;
    margin: 0;
    background-color: #555555;
    padding: 20px;
    font-size:16pt;
    
}

.headnav li {
    display: inline;
    color: #DCDCDC;
    padding: 10px;
    text-decoration: none;
}

.headnav a {
    color: #DCDCDC;
    text-decoration: none;
}
.headnav a:hover {
    font-weight:bold;   
}

h1 {
    text-decoration: underline;
    font-size:22pt;
    text-align: center;
}